@import '../../Index.scss';

.main_about{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    // margin-top: 10rem;
    .about_content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 10rem;
        padding-top: 5rem;
        h1,h2,p{
            color: #ffffff;
        }
        h1{
            font-size: 60px;
            letter-spacing: .135em;
            margin: 0 0 22px;
            text-transform: uppercase;
            font-family: Lemons-Bold;
            span{
                color: #3a8bae;
            }
        }
        h2{
            font-weight: 700;
            line-height: 1.21em;
            margin: 0 0 20px;
            padding: 0;
            font-family: Lemons-Regular;
        }
        p{
            font-size: 16px;
            font-family: Lemons-Regular;
            font-weight: bold;
            letter-spacing: .135em;
        }
    }
    .sideBear{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-left: 3rem;
        img{
            width: 350px;
        }
    }
}