.ant-collapse-icon-position-left{
  background: none !important;
  border: none !important;
  border-bottom: 1px solid #628290 !important;
  color: white !important;
}

.ant-collapse-header{
    color: #ffffff !important;
    font-size: 20px !important;
    font-family: Lemons-Regular !important;
    font-weight: bold !important;
    padding: 20px 16px !important;
}

.anticon{
    display: none !important;
}

.ant-collapse-content{
    background: none !important;
    font-size: 16px !important;
    font-family: Lemons-Regular !important;
    color: #ffffff !important;
    font-weight: bold !important;
}